<center>
    <h1>RECEPY</h1>
    <p>It is an a application web, in which you can share your known recipes and also you can search recipes</p><br>
    <button><a style="text-decoration: none;" href="/signin">Let's Start</a></button>
</center>